/* móvil (<600px) */
@media (max-width: 600px) {
    .overlay-content h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .weather-icon {
        display: block;
        text-align: center;
        margin: 15px 0;
    }

    .weather-icon::before {
        content: url('images/climate.svg');
        width: 40px;
        height: 40px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .cards-container .card {
        width: 90%;
    }
}

/*DESKTOP*/
@media (min-width: 1160px) {
    .overlay-content h1 {
        font-size: 5rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 20px;
    }

    .cards-container .card {
        width: 48%;
    }

    .weather-section h2::after {
        content: " ⛅";
        margin-left: 10px;
    }

    .info-grid {
        grid-template-columns: 1fr 1fr;
    }
}