@media (min-width: 768px) {
    .gal {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .gal {
        grid-template-columns: repeat(3, 1fr);
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
    
    #ham {
        display: none;
    }
    
    nav ul {
        display: flex !important;
    }
}